body{
    margin: 0;
    border-radius: 10px solid black;
    
}
.app{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "rosa ciano verde"
    "azul ciano verde"
    "vermelho vermelho vermelho";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-gap: 10px 15px;
}

.rosa{
    grid-area: rosa;
    background-color: rgb(255, 2, 171);
    color: rgb(255, 2, 171);
}
.ciano{
    grid-area: ciano;
    background-color: rgb(2, 255, 213);
    color: rgb(2, 255, 213);
}
.verde{
    grid-area: verde;
    background-color: rgb(44, 255, 2);
    color: rgb(44, 255, 2);
}
.vermelho{
    grid-area: vermelho;
    background-color: rgb(255, 2, 2);
    color: rgb(255, 2, 2);
}
.azul{
    grid-area: azul;
    background-color: blue;
    color: blue;
}   